{{> header}}
<div class="content">
    {{#if user.isAuthenticated}} 
        {{> navigation}}
    {{/if}}
    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>
        <div class="posts">
            {{#each posts}}
                {{> post}}
            {{else}}
                <p style="font-style: italic">No posts in database</p>
            {{/each}}
        </div>
    </section>
</div>
{{> footer}}