{{#if user.isAuthenticated}}
    <a href="#" id="linkHome" class="menu-item" data-type="main" onclick="loadHome()">Home</a>
    <a href="#" id="linkListAds" class="menu-item" data-type="products" onclick="listAds()">List Advertisements</a>
    <a href="#" id="linkCreateAd" class="menu-item" data-type="products" onclick="loadCreateAdd()">Create Advertisement</a>
    <a href="#" id="linkLogout" class="menu-item" data-type="main" onclick="logoutUser()">Logout</a>
    <span id="loggedInUser" class="menu-item" data-type="main">WELCOME, {{user.username}}</span>
    <div></div>
{{else}}
    <a href="#" id="linkHome" class="menu-item" data-type="main" onclick="loadHome()">Home</a>
    <a href="#" id="linkLogin" class="menu-item" data-type="main" onclick="loadLogin()">Login</a>
    <a href="#" id="linkRegister" class="menu-item" data-type="main" onclick="loadRegister()">Register</a>
{{/if}}